.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 92px;
    margin: 60px 22% 0 22%;
    font-size: 14px;
}

.footer__links {
    margin-top: 12px;
}