.mobile__menu {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    background:black;
    z-index: 100;
}

.mobile__menu-hide {
    display: none;
}

.body--no-scroll {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
